/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    /* background-image: url(../proyecto/img-index/WhatsApp\ Image\ 2023-04-05\ at\ 00.40.53.jpeg); */
    background-attachment: fixed;
    background-size: cover;
}

/* Unidad de medida gral para el proyecto*/
html {
    font-size: 20px;
}

/* Cabecera de la Web */
/* Logo*/
h1 {
    text-align: center;
    color:black;
    text-shadow: 0 0 8px rgb(255, 255, 255);
}

/* Menu navegable */
.first-menu {
    display: flex;
    list-style: none;
} 

.first-menu li {
    margin: 5px 10px 20px 10px;
    height: 15%;
}
/* Fin menu navegable */

/* Seccion Carrucel */
/* Medidas Imagen Principal */
.carrusel img {
    position: relative ;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: left;
}
.frase {
    color: #f7f6f4;
    /* font-family: 'Montserrat',sans-serif; */
    position: absolute;
    top: 30%;
    left: 10%;
    text-shadow: 0 0 8px rgb(255, 255, 255); 
}
/* Fin Carrucel */

/* GALERIA*/
.galeria {
    font-family: 'Open Sans', sans-serif;
}

.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: none;
    width: 100%;
    transition: .5s ease;
    overflow: hidden;
}

.overlay h2 {
    color: white;
    font-size: 30px;
    position: absolute;
    text-align: center;
}

.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .contenedor-imagenes {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .contenedor-imagenes {
        width: 90%;
    }
    .contenedor-imagenes .imagen {
        width: 48%;
    }
}
/* FIN GALERIA */

/* PIE DE PAGINA*/
#contenedor-footer {
    background-color: rgb(172,167,167);
    padding: 0;
}
/* FIN PIE DE PAGINA */


/* PAGINA INSPIRACIONES */
.paragraph-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}


@media only screen and (min-width: 1281px) {
    .container-items {
        margin-left: auto;
        margin-right: auto;
        width: 84%;
    }
}

@media only screen and (max-width: 900px) {
    .containter-items {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {
    .item{
        flex-direction: column;
    }
} 

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}


figure {
    width: 69%;
    height: auto;
}

figure .imagen {
    width: 100%;
    height: auto;
}
.info-producto {
    width: 30%;
}

.info-producto h1 {
    font-size: 3em ;
    line-height: 1em;
    text-align: center ;
    margin: 10px 0;
}

.info-producto h2 {
    font-family: 'Konkhmer Sleokchher', cursive;
    color: rgb(3, 3, 3);
}

.info-producto p {
    text-align: center;
}
/* FIN PAGINA INSPIRACIONES */

/* PAGINA BOTON ARREPENTIMIENTO */

form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

.formulario p {
    font-family: 'Roboto Slab', serif;
}
/* FIN PAGINA BOTON DE ARREPENTIMIENTO */


/* PAGINA SUCURSALES */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    .sucursales { 
    }
}

.sucursales {
    padding: 2%;
}
.sucursales h2 {
    display: block;
    text-align: center;
}

.ubicaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mapa p {
    font-family: 'Roboto Slab', serif ;
    text-align: center;
    font-size: 20px;
}




/* PAGINAS VIEJAS */
/* Pagina de Registro */

.registro-fb {
    display: inline-block;
    color: azure;
    background-color: blue;
    margin: 10px;
    padding: 3px;
}

.first-section {
    color: gray;
    margin-left: 20px;
    margin-bottom: 20px;
}

.info {
    color: rgb(119, 115, 115);
    font-weight: bold;
    margin-bottom: 10px;
}

.nombre {
    margin-top: 5px;
    margin-bottom: 10px;
}

.apellido {
    margin-top: 5px;
    margin-bottom: 10px;
}

.info-login {
    color:rgb(119, 115, 115);
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

.mail {
    margin-top: 5px;
    margin-bottom: 10px;
}

.contraseña {
    margin-top: 5px;
    margin-bottom: 10px;
}

.confirmacion {
    margin-top: 5px;
    margin-bottom: 10px;
}

.account p {
    display: inline-block;
    margin-left: 500px;
    padding: 5px;
    color: grey;
    margin-top: 10px;
    border: 1px solid rgb(119, 115, 115)
}


.img-insta {
    margin-top: 5px;
    max-height: 20px;
    max-width: 20px;
}

.img-face {
    margin-top: 5px;
    max-width: 20px;
    max-height: 25px;
}



/* PAGINA CONTACTO */

.whatsapp {
    margin-left: 5px;
    margin-right: 60px;
    max-width: 10%;
    max-height: 10%;
}

.chat {
    margin-left: 80px;
    margin-right: 70px;
    max-width: 10%;
    max-height: 10%;
}

.mail {
    margin-left: 80px;
    margin-right: 60px;
    max-width: 10%;
    max-height: 10%;
}

.telefono {
    margin-left: 80px;
    margin-right: 10px;
    max-width: 10%;
    max-height: 10%;
}

.ubicacion {
    margin-left: 120px;
    margin-right: 5px;
    max-width: 10%;
    max-height: 10%;
}

.formulario-second ul{
    display: flex; 
    align-items: flex-start;
    flex-direction: column;
}

.formulario-second li {
    margin-top: 2%;
    margin-left: 2%;
}

/* PAGINA CONTACTO */
.forma-contacto {
    text-align: right;
    
}
.titulo{
    text-align: right; 
}

.whatsapp {
    display: flex;
    width: 4%;
    height: 4%;
    float: right;
}

body {
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
    font-size: 12px
}
